<a href="https://colab.research.google.com/github/IsmaRLD/Examen1/blob/main/Examen1_(consumer).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [127]:
#Carga desde un archivo .csv sin indice
Consumer= pd.read_excel('consumer_mit_lift_lab.xlsx')

In [ ]:
#Verificamos información del Dataframe
Consumer.info()

In [129]:
#Creamos copia del dataframe
data1=Consumer.copy()

**Reemplazo de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
valores_nulos

In [131]:
#Con este metodo sustituimos valores nulos por un string o un dato no numérico en concreto
data1["300_did_not_find"]=data1["300_did_not_find"].fillna("nulos")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [133]:
#Con este metodo sustituimos valores nulos por un string o un dato no numérico en concreto
data1["284_additional_products_store"]=data1["284_additional_products_store"].fillna("no válido")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [135]:
#Con este metodos sustituimos los valores nulos que esten por detras de valores no nulos por ese mismo valor
data1["305_electricity_bill_store"]=data1["305_electricity_bill_store"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [137]:
#Con este metodos sustituimos los valores nulos que esten por delante de valores no nulos por ese mismo valor
data1["306_water_bill_store"]=data1["306_water_bill_store"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [139]:
#Con este metodo sustituimos valores nulos por un string o un dato no numérico en concreto
data1["307_gas_bill_store"]=data1["307_gas_bill_store"].fillna("yes")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [141]:
#Con este metodos sustituimos los valores nulos que esten por detras de valores no nulos por ese mismo valor
data1["308_topups_in_store"]=data1["308_topups_in_store"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [143]:
#Con este metodo sustituimos valores nulos por un string o un dato no numérico en concreto
data1["309_wiretransfers_in_store"]=data1["309_wiretransfers_in_store"].fillna("no")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [160]:
#Con este metodos sustituimos los valores nulos que esten por delante de valores no nulos por ese mismo valor (se escogio este metodo ya que a pesar de tener muchos valores nulos, las respuestas que se tenían eran similares, por lo que podríamos decir que los valores nulos perfectamente pueden ser esos valores ya existentes)
data1["304_additional_services_store"]=data1["304_additional_services_store"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [162]:
#Con este metodo sustituimos valores nulos por un string o un dato no numérico en concreto
data1["storefront_picture_just_once_if_possible"]=data1["storefront_picture_just_once_if_possible"].fillna("no disponible")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos

**Reemplazo de Outliers**

In [165]:
#Creamos otra copia del dataframe
data2=data1.copy()

In [ ]:
#Realizamos un filtro por filas donde se incluyan unicamente los valores cuantitativos
cuantitativas=data2.iloc[:,[12,26,27,28,29,30,31]] #filas no consecutivas
cuantitativas

In [ ]:
#Realizamos un filtro por filas donde se incluyan unicamente los valores cualitativas
cualitativas=data2.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,32,33,34,35]] #filas no consecutivas
cualitativas

In [ ]:
#Corroboramos valores nulos
valores_nulos=cuantitativas.isnull().sum()
valores_nulos

In [ ]:
#Aplicanmos desviación estandar para encontrar valores extremos
y=cuantitativas
Limite_Superior= y.mean() +3*y.std()
Limite_Inferior= y.mean() -3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [197]:
#Encontramos Outliers del Dataframe
outliers= cuantitativas[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
110,NaN,15.0,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,1000.0,NaN

In [ ]:
#Obtenemos datos limpios
data3= cuantitativas[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

In [195]:
#Reemplazamos valores atípicos (nulos) del dataframe4
valores_nulos=data3.isnull().sum()
valores_nulos

238_frequency_buying_store             2
81_number_online_purchases_month       2
288_number_app_purchases_month         1
289_number_whatsapp_purchases_month    1
83_willingness_ultrafast_delivery      2
84_willingness_sameday_delivery        2
241_age_of_the_interviewee             1
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data3.copy()
data_clean=data_clean.fillna(round(data3.mean(),1))
data_clean

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data_clean.isnull().sum()
valores_nulos

In [ ]:
#Unimos las columnas cuantitativas y cualitativas en un mismo dataframe
Datos_limpios = pd.concat([cualitativas, data_clean], axis=1)
Datos_limpios

In [190]:
#Convertir Dataframe a CSV
Datos_limpios.to_csv("Datos_limpios_Consumer.csv")

In [191]:
#descargar archivo filtrado en csv
from google.colab import files

files.download("Datos_limpios_Consumer.csv")